@import url('https://fonts.googleapis.com/css?family=Montserrat');

body{
  background: linear-gradient(-180deg, #3C96D2 13%, #3EE5AC 100%);
  height: -webkit-fill-available;
  font-family: 'Montserrat', sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 60px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.btn{
  border-radius: 30px;
}

.btn-primary{
  background-color: #E300FF;
  border-color: #E300FF;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus{
  border-color: #a504b9;
  background: #a504b9;
  background-color: #a504b9;
}
